<header class="container" style="padding-top:10px;color:white;width:auto; height:130px; background-color:rgb(65,123,169); font-size:30px;" layout="column">
    <div style="padding-bottom:20px;float:none; margin-left:auto; margin-right:auto;text-align:center;width:400px;border-top:2px solid rgb(235,186,153);border-bottom:2px solid rgb(235,186,153);">
        <h3>        
            {{curSchool}}
        </h3>
    </div>
    <div layout="row" style="margin-top:10px;" layout-align="space-between">
        <div >
            <span class="glyphicon glyphicon-user"></span>
            <span style="font-size:20px;">{{curStudent.firstName}} {{curStudent.lastName}}</span>
        </div>
        <div>
            <button ng-click="doLogout()" type="button" class="btn btn-default">
                Log out
            </button>
        </div>
    </div>
</header>

<div class="container" style="width:1000px;  min-height:360px;">
    <div style="padding:30 40 0 30;">
        <a><strong style="color:rgb(12,116,138)" >View Upcoming Course Syllabi</strong></a><br/><br/>
        In April 2015, in response to a request from the Student Association, the Faculty Senate passed a resolution that sought the creation of a system through which faculty could provide students with additional information with which to make better informed decisions about course selection. As the resolution and the discussion of the Faculty Senate stated, students deserve adequate information before selecting their courses, and faculty seek motivated and prepared students for the courses they intend to teach. Furthermore, students wish to know if the courses they are selecting will advance their study within their areas of interest, and faculty teach best to students who have selected courses appropriate to their interests.

The documents available here have been provided by the faculty specifically for this purpose. Any syllabus should be considered an example of how the course might be taught, and is subject to revision prior to the start of the class.
    </div>
    <div layout="row">
        <div style="margin-left:20px;">
    <div style="margin-top:50; border:1px solid gray;width:400px; height:auto;" layout="column">
        <div style="background-color:rgb(65,123,169);">
            <h5 style="color:white;margin-left:20px;">
            Course List
            </h5>
        </div>
        <div style="padding:20;background-color:rgb(250,247,244);">
            Courses where you are: Student<br/><br/>
            <strong style="color:rgb(12,116,138)" >61463_201503: 201503_Full Stack Engineering_CSCI_6907_12</strong><br/>
            Instructor: Timothy Kim;  
        </div>
    </div>
    </div>
    <div style="margin-left:100px;">
    <div style="margin-top:50; border:1px solid gray;width:400px; height:auto;" layout="column">
        <div style="background-color:rgb(65,123,169);">
            <h5 style="color:white;margin-left:20px;">
            Every Colonial Counts
            </h5>
        </div>
        <div style="padding:20;background-color:rgb(250,247,244);">
            Courses where you are: Student <br/><br/>
            The CARE Network works with students who may need support and additional resources to help them be successful during their time at GW. The CARE Network consists of representatives from all aspects of life at GW that can help you or someone you know get connected to people who may be able to help. Remember to care for yourself and your peers, check in with what you need to be successful at GW and seek out the resources the university has to offer. As a community we can care for each other through small acts such as talking with friends about how their week is going, or texting when you’re thinking about them. Sometimes letting someone know you’re there can make a big difference, but also remember you don’t have to take responsibility for others. 

If you are concerned about someone, you can submit a CARE form online and someone from the university will reach out and check in. This can be done anonymously.

Take care of yourselves and each other!
        </div>
    </div>
            </div>
    </div>
    <div>
    </div>
</div>


<!--

<p>course page</p>
{{test}}

<button ng-click="changeProfile()">change profile</button>
-->
<div footer></div>