<p>this is sign up page hahha</p>

<form method="" action="" name="">
	<fieldset>
		<input type="text" placeholder="Email" name="email" ng-model="student.email">
		<input type="text" placeholder="Password" name="password" ng-model="student.password">
		<input type="text" placeholder="firstName" name="" ng-model="student.firstName">
		<input type="text" placeholder="lastName" name="" ng-model="student.lastName">
		<input type="text" placeholder="schoolId" name="" ng-model="student.schoolId">
        <button ng-click="changePro()">change profile</button>
    </fieldset>
</form>
{{student.email}}
{{student.password}}

<div footer></div>

<!--
first name 
last name 
email
password
school(options)
year?

first name 
last name 
email
password
school(options)
-->